version: 2.1
orbs:
  snyk: snyk/snyk@0.0.8
jobs:
  build:
    docker:
      - image: "circleci/node:latest"
    steps:
      - checkout
      - run: ls -al
      # - run: npm install -q
      - snyk/scan
